body {
    padding-top: 60px;
}

/*TODO: Use prefix with "my-"?*/
.my-initial-loading {
    text-align: center;
    max-width: 300px;
    margin: auto;
}

/*helpers*/
.my-inline-block {
    display: inline-block;
}

/*header*/
.my-header-right {
    margin-right: 10px;
    margin-top: 35px;
}

/*remove*/
li .my-remove {
    display: inline-block;
    background: none;
    border: 0;
    font-size: 22px;
    color: #a88a8a;
}

li .my-remove:hover {
    text-shadow: 0 0 1px #000, 0 0 10px rgba(199, 107, 107, 0.8);
}
