# TODO: update connection.js connection.js. local.js may be removed
config/local.js
api/models/connection.js
assets/javascripts/init/templates.js

node_modules/
assets/bower_components/

.tmp/
.sass-cache/

.idea/
