# TODO: local.js may be removed when we move away from Sails.js test git
config/local.js
api/bs-models/connection.js
assets/javascripts/init/templates.js

node_modules/
assets/bower_components/

.tmp/

*.sublime-*
