# TODO: Sort gitignore.
node_modules/
assets/bower_components/
.sass-cache/
.grunt/

.sails
.waterline
.rigging
.tmp

config/local.js

assets/stylesheets/
assets/javascripts/init/templates.js

.idea/
