<div>
    <p>
        Are you sure you want to delete lobby <strong>{{title}}</strong>?
    </p>
</div>

<div>
    <button {{action "delete"}} class="btn btn-danger">
        Delete
    </button>

    {{#link-to "lobby" this classNames="btn btn-default"}}
        Cancel
    {{/link-to}}
</div>
