<div class="navbar">
    <div class="navbar-inner">
        {{#linkTo "index" classNames="brand"}}
        Ramble
        {{/linkTo}}
        <ul class="nav">
            <li>
                {{#linkTo "lobbies"}}
                Lobbies
                {{/linkTo}}
            </li>
            <li>
                {{#linkTo "players"}}
                Players
                {{/linkTo}}
            </li>
        </ul>
    </div>
</div>

{{#if isLoading}}
<div class="loadingBar">
</div>
{{/if}}

<div class="applicationState">{{outlet}}</div>