!!! 5
html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        title Ramble - loading

        if env === "production"
            link(rel="stylesheet", href="stylesheets/main.min.css")
            script(async="async", src="javascripts/main.min.js")
        else if env === "development"
            link(rel="stylesheet", href="stylesheets/main.css")
            script(async="async", data-main="javascripts/main", src="bower_components/requirejs/require.js")

    body

        .my-initial-loading
            p Loading...

            .progress.progress-striped.active
                .bar(style="width: 100%;")
