<div>
    <p>
        {{#link-to 'lobby.create' classNames='btn btn-primary'}}
            Create
        {{/link-to}}
    </p>
</div>

<div>
    <div class="list-group">
        {{#each}}
            {{partial 'helpers/lobby-item'}}
        {{/each}}
    </div>
</div>
