<div class="control-group">
    <label class="control-label" for="inputLobbyTitle">Title</label>

    <div class="controls">
        {{view Ember.TextField valueBinding="title" id="inputLobbyTitle" placeholder="Title"}}
    </div>
</div>
<div class="control-group">
    <label class="control-label" for="inputLobbyMaxPlayers">Max players</label>

    <div class="controls">
        {{view Ember.TextField valueBinding="maxPlayers" id="inputLobbyMaxPlayers" placeholder="Max players"}}
    </div>
</div>
<div class="control-group">
    <label class="control-label" for="inputLobbyPassword">Password</label>

    <div class="controls">
        {{view Ember.TextField type="password" valueBinding="password" id="inputLobbyPassword" placeholder="Password"}}
    </div>
</div>
