<div>
    <p>
        {{#linkTo "players.create" classNames="btn"}}
        Create
        {{/linkTo}}
    </p>
</div>
<div>
    <ul class="nav nav-tabs nav-stacked">
        {{each controllers.players itemController="player" itemViewClass="view.playerItem"}}
    </ul>
</div>
