<form class="form-horizontal">

    {{view view.input}}

    <div class="control-group">
        <div class="controls">
            <button class="btn btn-primary"
            {{action "create"}}>
            Create
            </button>
            {{#linkTo "players.index" classNames="btn"}}
            Cancel
            {{/linkTo}}
        </div>
    </div>
</form>
