<div>
    <p>
        username: {{view Ember.TextField valueBinding="username"}}
    </p>

    <p>
        email: {{view Ember.TextField valueBinding="email"}}
    </p>

    <p>
        password: {{view Ember.TextField type="password" valueBinding="password"}}
    </p>
</div>
<div>
    <button class="btn btn-primary"
    {{action "saveEdits" this}}>
    Save
    </button>
    {{#linkTo "player" classNames="btn"}}
    Cancel
    {{/linkTo}}
</div>
