<div>
    <p>
        Are you sure you want to delete lobby <strong>{{title}}</strong>?
    </p>
</div>
<div>
    <button class="btn btn-danger"
    {{action "delete"}}>
    Delete
    </button>
    {{#linkTo "lobby.index" this classNames="btn"}}
    Cancel
    {{/linkTo}}
</div>
