<div>
    <p>
        {{#linkTo "lobby.create" classNames="btn btn-primary"}}
            Create
        {{/linkTo}}
    </p>
</div>

<div>
    <div class="list-group">
        {{#each}}
            {{partial "lobby/helpers/item"}}
        {{/each}}
    </div>
</div>
