<div>
    <p>
        {{#linkTo "lobby.create" classNames="btn"}}
        Create
        {{/linkTo}}
    </p>
</div>

<div>
    <ul class="nav nav-tabs nav-stacked">
        {{each itemViewClass="view.lobbyItem"}}
    </ul>
</div>
