<div>
    <p>
        {{#linkTo "lobby.create" classNames="btn btn-primary"}}
            Create
        {{/linkTo}}
    </p>
</div>

<div>
    <ul class="list-group">
        {{each itemViewClass="view.lobbyItem"}}
    </ul>
</div>
