{{#each lobby in controller itemController="lobby"}}
<p>
    {{#linkTo "lobby.show" lobby}}
         {{lobby.title}} ({{lobby.amountOfPlayers}}/{{lobby.maxPlayers}})
    {{/linkTo}}
</p>
{{/each}}

<div>
    {{outlet}}
</div>