{{#form-for this}}
    {{input username placeholder='Username' as='focussed_textfield'}}
    {{input password placeholder='Password'}}

    <p class="text-danger">
        {{errorMessage}}
    </p>

    <button {{action 'login'}} class="btn btn-primary">
        Log in
    </button>
{{/form-for}}
