{{#formFor model}}

{{input title placeholder="Title"}}
{{input maxPlayers placeholder="Max players"}}
{{input password placeholder="Password"}}

<div class="control-group">
    <div class="controls">
        <button class="btn btn-primary"
        {{action "create" this}}>
        Create
        </button>
        {{#linkTo "lobby.list" classNames="btn"}}
        Cancel
        {{/linkTo}}
    </div>
</div>

{{/formFor}}
