doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="fragment", content="!")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        title Ramble - loading

        link(rel="stylesheet", href="stylesheets/main.css")

        if sails.config.environment === "development"
            script(src="bower_components/requirejs/require.js")

        script(async="async", src="javascripts/main.js")

    body

        .my-initial-loading
            p Loading...

            .progress.progress-striped.active
                .progress-bar(style="width: 100%;")
