doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="fragment", content="!")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        title Ramble - loading

        link(rel="stylesheet", href="stylesheets/main.css")

        if sails.config.environment === "development"
            script(src="bower_components/requirejs-bower/require.js")
            script(src="http://localhost:35729/livereload.js")

        script(async="async", src="javascripts/main.js")

    body

            .progress.progress-striped.active.my-loading-bar
                .progress-bar.my-inner-loading-bar
