<ul class="nav nav-tabs nav-stacked">
    {{#each player in controller itemController="player"}}
    <li>
        {{#linkTo "player" player}}
        {{player.name}}
        {{/linkTo}}
    </li>
    {{/each}}
</ul>
