{{#link-to 'player' this classNames='list-group-item'}}
    {{id}} - {{username}}

    {{#if controller.isOwnerOfLobby}}
        <button {{action 'kick' this bubbles=false}} class="close pull-right">
            &times;
        </button>
    {{/if}}
{{/link-to}}
