<p>
    {{view Ember.TextField valueBinding="controllers.lobby.title"}}
</p>
<p>
    {{view Ember.TextField valueBinding="controllers.lobby.maxPlayers"}}
</p>
    <button {{action "doneEditing"}}>Done</button>