<div>
    <p>
        Are you sure you want to delete account <strong>{{username}}</strong>?
    </p>
</div>

<div>
    <button {{action "delete"}} class="btn btn-danger">
        Delete
    </button>

    {{#linkTo "player.index" this classNames="btn btn-primary"}}
        Cancel
    {{/linkTo}}
</div>
