<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label" for="inputLoginUsername">Username</label>

        <div class="controls">
            {{view view.LoginTextField valueBinding="username" id="inputLoginUsername" placeholder="Username or email"}}
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="inputLoginPassword">Password</label>

        <div class="controls">
            {{view view.LoginTextField type="password" valueBinding="password" id="inputLoginPassword"
            placeholder="Password"}}
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            <label class="checkbox">
                <input type="checkbox"> Remember me
            </label>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            <button class="btn btn-primary"
            {{action "login"}}>
            Login
            </button>
        </div>
    </div>
</form>
