<div class="hero-unit">
    <h1>Ramble</h1>

    <p>
        A simple strategic 2D multiplayer browser-game based on conquest and exploration of a huge world.
    </p>

    <p>
        {{#if isLoggedIn}}

        {{#linkTo "lobby.list" classNames="btn btn-primary btn-large"}}
        Play now! &raquo;
        {{/linkTo}}

        {{else}}

        {{#linkTo "player.create" classNames="btn btn-primary btn-large"}}
        Play now! &raquo;
        {{/linkTo}}

        {{/if}}
    </p>
</div>
