<div class="hero-unit">
    <h1>Ramble</h1>

    <p>
        Simple strategic 2D multiplayer browser-game based on conquest and exploration of a huge world.
    </p>

    <p>
        {{#linkTo "signup" classNames="btn btn-primary btn-large"}}
        Play now! &raquo;
        {{/linkTo}}
    </p>
</div>
