<h2>
    {{username}}
</h2>
<p>
    {{#linkTo "player.edit" classNames="btn"}}
    Edit
    {{/linkTo}}
</p>
<div>
    <h3>
        Owned Lobbies:
    </h3>
    <ul class="nav nav-tabs nav-stacked">
        {{each ownedLobbies itemViewClass="view.lobbyItem" itemController="lobby"}}
    </ul>
</div>
<div>
    <h3>
        Joined Lobbies:
    </h3>
    <ul class="nav nav-tabs nav-stacked">
        {{each joinedLobbies itemViewClass="view.lobbyItem" itemController="lobby"}}
    </ul>
</div>
