<h2>
    {{username}}
</h2>
<div>
    {{#linkTo "player.edit" classNames="btn"}}
    Edit
    {{/linkTo}}
    {{#linkTo "player.delete" classNames="btn btn-danger"}}
    Delete
    {{/linkTo}}
</div>
<div>
    <h3>
        Owned Lobbies:
    </h3>
    <ul class="nav nav-tabs nav-stacked">
        {{each ownedLobbies itemViewClass="view.lobbyItem" itemController="lobby"}}
    </ul>
</div>
<div>
    <h3>
        Joined Lobbies:
    </h3>
    <ul class="nav nav-tabs nav-stacked">
        {{each joinedLobbies itemViewClass="view.lobbyItem" itemController="lobby"}}
    </ul>
</div>
