<h2>
    {{controllers.player.name}}
</h2>
<p>
    {{#linkTo "player.edit" controllers.player classNames="btn"}}
    Edit
    {{/linkTo}}
</p>
<div>
    {{#each lobby in controllers.player.lobbies itemController="lobby"}}
    <p>
        {{#linkTo "lobby" lobby}}
        {{lobby.title}} ({{lobby.amountOfPlayers}}/{{lobby.maxPlayers}})
        {{/linkTo}}
    </p>
    {{/each}}
</div>
