<div>
    <p>
        {{#linkTo "lobby.create" classNames="btn"}}
        Create
        {{/linkTo}}
    </p>
</div>

<div class="accordion" {{bindAttr id="view.accordionId"}}>
{{each itemController="lobbyIndex" itemViewClass="view.lobbyItem"}}
</div>
