<div class="contentWrapper">
    <div class="header">
        <div class="loading">
            {{#if isLoading}}
            <div class="loadingBar">
            </div>
            {{/if}}
        </div>
    </div>

    <div class="applicationState">{{outlet}}</div>
</div>