<div class="jumbotron">
    <h1>
        Ramble
    </h1>

    <p>
        A simple strategic 2D multiplayer browser-game based on conquest and exploration of a huge world.
    </p>

    <p>
        {{#if session.isLoggedIn}}
            {{#link-to 'lobby.list' classNames='btn btn-primary btn-lg'}}
                Play now!
            {{/link-to}}
        {{else}}
            {{#link-to 'player.create' classNames='btn btn-primary btn-lg'}}
                Sign up now!
            {{/link-to}}
        {{/if}}
    </p>
</div>
