<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {{#linkTo "index" classNames="brand"}}
            Ramble
            {{/linkTo}}
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <!-- TODO: Hackish solution to active-CSS class for Bootstrap, check for better solution! -->
                    <!-- TODO: http://stackoverflow.com/questions/14412073/assigning-active-class-to-selected-list-item-in-emberjs -->
                    {{#linkTo "lobbies" tagName="li" href=false}}
                    {{#linkTo "lobbies"}}
                    Lobbies
                    {{/linkTo}}
                    {{/linkTo}}

                    {{#linkTo "players" tagName="li" href=false}}
                    {{#linkTo "players"}}
                    Players
                    {{/linkTo}}
                    {{/linkTo}}
                </ul>
                <form class="navbar-form pull-right">
                    {{#if isLoggedIn}}

                    {{#linkTo "player.index" account classNames="navbar-link"}}
                    {{account.username}}
                    {{/linkTo}}

                    <button class="btn"
                    {{action "logout"}}>
                    Log out
                    </button>

                    {{else}}

                    {{#linkTo "login" classNames="btn"}}
                    Log in
                    {{/linkTo}}

                    {{#linkTo "signup" classNames="btn btn-success"}}
                    Sign up
                    {{/linkTo}}

                    {{/if}}
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container">
    {{#if isLoading}}
    <div class="loadingBar">
    </div>
    {{/if}}

    <div class="applicationState">
        {{outlet}}
    </div>
</div>
