<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label" for="inputLoginUsername">Username</label>

        <div class="controls">
            {{view Ember.TextField valueBinding="username" id="inputLoginUsername" placeholder="Username"}}
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="inputLoginPassword">Password</label>

        <div class="controls">
            {{view Ember.TextField type="password" valueBinding="password" id="inputLoginPassword"
            placeholder="Password"}}
        </div>
    </div>

    {{#unless isValidLogin}}
        <div class="control-group">
            <div class="controls">
                <p class="text-error">
                    Login not successful
                </p>
            </div>
        </div>
    {{/unless}}

    <div class="control-group">
        <div class="controls">
            <button class="btn btn-primary" {{action "login"}}>
                Log in
            </button>
        </div>
    </div>
</form>
