<form role="form">
    <div class="form-group">
        <label for="inputLoginUsername">
            Username
        </label>
        {{view Ember.TextField valueBinding="username" id="inputLoginUsername" placeholder="Username" classNames="form-control"}}
    </div>

    <div class="form-group">
        <label for="inputLoginPassword">
            Password
        </label>
        {{view Ember.TextField type="password" valueBinding="password" id="inputLoginPassword" placeholder="Password" classNames="form-control"}}
    </div>

    <div class="checkbox">
        <label>
            <input type="checkbox"> Remember me
        </label>
    </div>

    {{#unless isValidLogin}}
        <p class="text-error">
            Login not successful
        </p>
    {{/unless}}

    <button {{action "login"}} class="btn btn-primary">
        Log in
    </button>
</form>
