{{#formFor this}}
    {{input username placeholder="Username" as=focus_input}}
    {{input password placeholder="Password"}}

    {{#unless isValidLogin}}
        <p class="text-danger">
            Login not successful
        </p>
    {{/unless}}

    <button {{action "login"}} class="btn btn-primary">
        Log in
    </button>
{{/formFor}}
