body {
    margin: 5px;
    font-size: 1em;
    font-family: Verdana, sans-serif;
}

.loadingBar {
    width: 220px;
    height: 19px;
    margin: 0 auto;
    background: url(../../img/loadingBar.gif) no-repeat;
}

.initialLoading {
    text-align: center;
}