<div>
    <h3>
        Payer
    </h3>

    <p>
        {{#link-to 'player' player}}
            {{player.username}}
        {{/link-to}}
    </p>
</div>

<div>
    <h3>
        Lobby
    </h3>

    <p>
        {{#link-to 'lobby' lobby}}
            {{lobby.title}}
        {{/link-to}}
    </p>
</div>
