<div>
    <p>
        title: {{view Ember.TextField valueBinding="title"}}
    </p>

    <p>
        password: {{view Ember.TextField type="password" valueBinding="password"}}
    </p>

    <p>
        maxPlayers: {{view Ember.TextField valueBinding="maxPlayers"}}
    </p>
</div>
<div>
    <button class="btn btn-primary"
    {{action "saveEdits" this}}>
    Save
    </button>
    {{#linkTo "lobby" classNames="btn"}}
    Cancel
    {{/linkTo}}
</div>
