<h2>
    {{username}}
</h2>

{{#if isOwnerOfAccount}}
    <div>
        {{#linkTo "player.edit" this classNames="btn btn-default"}}
            Edit
        {{/linkTo}}

        {{#linkTo "player.delete" this classNames="btn btn-danger"}}
            Delete
        {{/linkTo}}
    </div>
{{/if}}

<div>
    <h3>
        Owned Lobbies
    </h3>

    <div class="list-group">
        {{#each ownedLobbies}}
            {{partial "lobby/helpers/item"}}
        {{/each}}
    </div>
</div>

<div>
    <h3>
        Joined Lobbies
    </h3>

    <div class="list-group">
        {{#each joinedLobbies}}
            {{partial "lobby/helpers/item"}}
        {{/each}}
    </div>
</div>
